# gitconfig

# [include]
#     path = ~/path/to/gitconfig

# # github.comでgitプロトコルの代わりにhttpsを使用する
# [url "https://github.com/"]
#     insteadOf = "git://github.com/"
# # httpsの代わりにsshを使用する
# [url "git@github.com:"]
#     insteadOf = "https://github.com/"
# # httpsの代わりにsshを使用する(ユーザー名も限定)
# [url "git@github.com:todashuta/"]
#     insteadOf = "https://github.com/todashuta/"

# [core]
#     autocrlf = false
#     attributesfile = ~/dotfiles/.gitattributes_global
#     preloadindex = true
#     fscache = true
#     #precomposeunicode = true  # for macOS
# [gc]
#     auto = 256
# [merge]
#     tool = myvimdiff
# [mergetool "myvimdiff"]
#     cmd = "c:/vim/gvim.exe -d -c \"4wincmd w | wincmd J | wincmd =\" \"$LOCAL\" \"$BASE\" \"$REMOTE\" \"$MERGED\""
# [ghq]
#     # root が複数設定されている場合、
#     # 最後のものが ghq get の取得先になる
#     root = ~/go/src
#     root = D:/path/to/primary/dir

# [safe]
#     # safe.directory
#     #   .git/ が入っているディレクトリを設定する。
#     #     より上位のディレクトリを設定してまとめて... というのはできず、リポジトリ毎に設定が必要。
#     #   追加する場合は directory = ... の行を増やしていく。
#     #   %(prefix) はそのままそのように書く。
#     #   値の「"」はなくても構わないが「'」にするのはダメ。
#     directory = "%(prefix)///other-pc-name/c$/Work/Projects/foobar"

# # SSH鍵でコミットの署名を行う
# [commit]
#     gpgsign = true
# [gpg]
#     format = ssh
# [gpg "ssh"]
#     allowedSignersFile = ~/.ssh/allowed_signers
# [user]
#     signingkey = "公開鍵(.pub)の中身"

[color]
	ui = true
[commit]
	verbose = true  # always `git commit -v'
[log]
	date = format-local:%Y-%m-%d (%a) %H:%M:%S %z
	#date = relative-local
	showSignature = true
[alias]
	s = status -uno --show-stash
	ss = status -sb --show-stash
	ap = add --patch
	b = branch -vv
	d  = diff
	df = diff HEAD..FETCH_HEAD
	dfs = df --stat
	dw = diff --color-words
	fp = fetch --prune
	l = log --graph --stat
	la = l --all
	ll = log --no-graph --patch  # deltaでgraphを扱えないので --no-graph にしている
	lla = ll --all
	lg = log --graph --no-show-signature --pretty=format:'%C(yellow)%h%C(reset) -%C(auto)%d%C(reset) %s %C(green)(%cr) %C(bold blue)<%an>%C(reset)' --abbrev-commit --date=relative-local
	lga = lg --all
	lf = log HEAD..FETCH_HEAD
	summary = status -s -u -b
	contributors = shortlog -s -n
	#wdiff = diff --word-diff
	unstage = reset HEAD --
	precommit = diff --staged
	branches = branch -a -vv
	tags = tag
	stashes = stash list
	remotes = remote -v
	amend = commit --amend
	discard = checkout --
[core]
	editor = vim
	#pager = less -R -S --shift 5 -M -X -g -j3 # -W
	pager = delta
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
	keepBackup = false
[diff]
	algorithm = histogram
	colorMoved = dimmed_zebra

[blame]
	#ignoreRevsFile = .git-blame-ignore-revs

[init]
	defaultBranch = main
[push]
	default = simple
[pull]
	rebase = true
[fetch]
	#prune = true  # always `git fetch --prune'

[delta]
	pager = less -R -S --shift 5 -M -X -g -j3 # -W
	navigate = true
	#syntax-theme = Nord
	#features = mypreset0
	features = mypreset0 side-by-side
	#features = diff_highlight_with_syntax line-numbers
	#features = diff_highlight_with_syntax side-by-side
[delta "mypreset0"]
	hunk-header-style = raw
	file-modified-label = modified:
	line-numbers = true
[delta "diff_highlight_with_syntax"]
	diff-highlight = true
	minus-style                   = normal "#3f0001"
	minus-non-emph-style          = normal "#3f0001"
	minus-emph-style              = normal "#901011"
	minus-empty-line-marker-style = normal "#3f0001"
	zero-style                    = syntax
	plus-style                    = syntax "#002800"
	plus-non-emph-style           = syntax "#002800"
	plus-emph-style               = syntax "#006000"
	plus-empty-line-marker-style  = normal "#002800"

[credential]
	# ユーザーのgitconfigでグローバル設定を上書きする場合は1つ目に空白エントリ `helper =` が必須
	# 参考: https://aka.ms/gcm/rename
	#helper =
	#helper = manager
	#helper = P:/scoop/apps/git/current/mingw64/bin/git-credential-manager.exe
[credential "https://github.com"]
	#helper =
	#helper = !/path/to/gh auth git-credential  # gh: GitHub CLI
[credential "https://gist.github.com"]
	#helper =
	#helper = !/path/to/gh auth git-credential

# end of gitconfig
