# .gitconfig
# https://github.com/todashuta/profiles

[color]
	# colorの設定(自動で色付け)
	status = auto
	diff = auto
	branch = auto
	interactive = auto
	grep = auto
[alias]
	cm = commit -m
	ss = status -sb
	sl = shortlog -sn
	difff = diff --word-diff
[core]
	editor = vim
	pager = lv -c
#[push]
##	For Git Version 1.8
#	default = simple

# end of .gitconfig
