.netrwhist
.DS_Store

tmux*.log

.zsh/.zsh_history
.zsh/.zcompdump
.zsh/.zcalc_history
.zsh/.zcompcache/*
.zsh/.chpwd-recent-dirs

.emacs.d/games/*
.emacs.d/auto-save-list/*
.emacs.d/el-get/*

.vim/bundle/*
!.vim/bundle/neobundle.vim
