# gitignore

.DS_Store

/.zsh/.zsh_history
/.zsh/.zcompdump
/.zsh/.zcalc_history
/.zsh/.zcompcache/*
/.zsh/.chpwd-recent-dirs

/.emacs.d/games/*
/.emacs.d/auto-save-list/*
/.emacs.d/el-get/*

/.vim/.netrwhist
/.vim/vimrc_local
/.vim/gvimrc_local
/.vim/bundle/*
!/.vim/bundle/neobundle.vim
/.vim/pack/*
/.vim/use_system_encoding.txt

# end of gitignore
