[submodule ".vim/bundle/nyancat-vim"]
	path = .vim/bundle/nyancat-vim
	url = https://github.com/koron/nyancat-vim.git
	ignore = untracked
[submodule ".vim/bundle/neocomplcache"]
	path = .vim/bundle/neocomplcache
	url = https://github.com/Shougo/neocomplcache.git
	ignore = untracked
[submodule ".vim/bundle/zencoding-vim"]
	path = .vim/bundle/zencoding-vim
	url = https://github.com/mattn/zencoding-vim.git
	ignore = untracked
[submodule ".vim/bundle/vim-quickrun"]
	path = .vim/bundle/vim-quickrun
	url = https://github.com/thinca/vim-quickrun.git
	ignore = untracked
[submodule ".vim/bundle/VimCalc"]
	path = .vim/bundle/VimCalc
	url = https://github.com/gregsexton/VimCalc.git
	ignore = untracked
[submodule ".vim/bundle/vim-indent-guides"]
	path = .vim/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
	ignore = untracked
[submodule ".vim/bundle/vim-ref"]
	path = .vim/bundle/vim-ref
	url = https://github.com/thinca/vim-ref.git
	ignore = untracked
[submodule ".vim/bundle/calendar-vim"]
	path = .vim/bundle/calendar-vim
	url = https://github.com/mattn/calendar-vim.git
	ignore = untracked
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
	ignore = untracked
[submodule ".vim/bundle/vim-emacscommandline"]
	path = .vim/bundle/vim-emacscommandline
	url = https://github.com/houtsnip/vim-emacscommandline.git
	ignore = untracked
[submodule ".vim/bundle/eregex.vim"]
	path = .vim/bundle/eregex.vim
	url = https://github.com/othree/eregex.vim.git
	ignore = untracked
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
