# .gitconfig
# https://github.com/todashuta/profiles

[color]
	# colorの設定(自動で色付け)
	status = auto
	diff = auto
	branch = auto
	interactive = auto
	grep = auto
[commit]
	verbose = true
[alias]
	s = status
	d = diff
	l = log
	ll = log --patch
	summary = status -s -u -b
	contributors = shortlog -s -n
	#wdiff = diff --word-diff
	#hdiff = diff --diff-algorithm=histogram
	unstage = reset HEAD --
	precommit = diff --staged --diff-algorithm=histogram
	branches = branch -a
	tags = tag
	stashes = stash list
	remotes = remote -v
	amend = commit --amend
	discard = checkout --
[core]
	editor = vim
	#pager = lv -c
[merge]
	tool = vimdiff

#[push]
##	For Git Version 1.8
#	default = simple

# __END__
