# .inputrc
# https://github.com/todashuta/profiles

# ファイル名補完機能で大文字と小文字の区別をなくす
set completion-ignore-case on

# Tab補完でチルダを展開する
set expand-tilde on

#$if Bash
# 履歴の前方一致検索
"\C-p": history-search-backward
"\C-n": history-search-forward
# 矢印キーでも前方一致検索をする
#"\e[A":history-search-backward
#"\e[B":history-search-forward
#$endif

# MEMO:
# 外部のファイルを読み込むときはこのようにする
# $include /path/to/hoge
#
# source /path/to/hoge とするとできてるようで
# 's'が入力できなくなるなど問題を起こす

# __END__
